.halve-section:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: var(--section-x-padding);
  top: 0;
}

.left:after {
  left: calc(-1 * var(--section-x-padding));
  background-color: inherit;
}

.right:after {
  right: calc(-1 * var(--section-x-padding));
  background-color: inherit;
}
