.timeline {
  position: relative;
}

.nodess {
  position: relative;
}

.nodess span {
  --node-size: 70px;
  text-align: center;
  height: var(--node-size);
  width: 10px;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  border-top: 1px solid var(--text-secondary);
  border-bottom: 1px solid var(--text-secondary);
}

.timeline div:nth-last-of-type(2) span {
  border-bottom: none;
}

.timeline div:nth-last-of-type(2) span::before {
  display: none;
}

.nodess:first-of-type span {
  border-top: none;
}

.nodess span::before {
  content: "";
  height: calc(330px - var(--node-size));
  width: 0;
  border-left: 1px solid var(--text-secondary);
  position: absolute;
  top: var(--node-size);
  left: calc(50% - 0.5px);
}
