.section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--section-gap);
  position: relative;
}

.x-padding {
  padding-left: var(--section-x-padding);
  padding-right: var(--section-x-padding);
}
